@font-face {
    font-family: 'Lilita One';
    src: url('fonts/LilitaOne.woff2') format('woff2'),
        url('fonts/LilitaOne.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --light-color: #e7eaf6;
    --second-color: #a2a8d3;
    --third-color: #38598b;
    --dark-color: #113f67;
    font-family: Lilita One, sans-serif;
}

body {
    overflow: hidden;
}

.main-container {
    display: grid;
    grid-template-rows: 100px auto;
    height: 100vh;
}

.heading {
    background-color: var(--third-color);
    font-size: 1.5rem;
    color:var(--light-color) ;
    display:flex;
    align-items: center;
    padding: 20px;
}

.heading button {
    margin-left: auto;
    appearance: none;
    font-family: Lilita One, sans-serif;
    color: var(--light-color);
    width: 175px;
    background-color: transparent;
    border: 0;
    border-radius: 20px;
    font-size: 1.5rem;
    height: 50px;
}

.heading button:hover {
    background-color: var(--dark-color);
    cursor: pointer;
}

.library-container {
    background-color: var(--second-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 200px;
    gap: 30px;
    padding: 20px;
    justify-items: center;
    overflow: scroll;
}

.library-book {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--dark-color);
    color: var(--light-color);
    border-radius:15px;
    height: 200px;
    width: 175px;
}

.read-button,
.unread-button {
    appearance: none;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: 0;
    color: white;
    font-family: inherit;
}

.read-button {
    background-color: rgba(120, 255, 58, 0.432);
}

.unread-button {
    background-color: rgba(255, 58, 58, 0.432);;
}